page-create-new-account {
    .scroll-content{
        padding-top: 10px ;
        padding-left: 10px;
        padding-right: 30px;
    }
    .formlabel{
        font-size: 15px !important;
        padding: 0 0 5px 0;
    }
    .input-style{
        border:1px solid;
        margin: 0px !important;
    }
    .submit-button{
        margin-top: 30px;
        margin-right: 100px;
        margin-left: 100px;
    }
}
