<ion-header>

  <ion-navbar>
    <ion-title>Create New Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="userForm">
    <div class="form-group">
      <ion-item>
        <ion-label color="black" stacked>First Name</ion-label>
        <ion-input type="text" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="userForm.controls.first_name.invalid  && (userForm.controls.first_name.dirty || userForm.controls.first_name.touched)">
        Please enter First Name
      </ion-item>
    </div>
    <div class="form-group">
      <ion-item>
        <ion-label color="black" stacked>Last Name</ion-label>
        <ion-input type="text" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="userForm.controls.last_name.invalid  && (userForm.controls.last_name.dirty || userForm.controls.last_name.touched)">
        Please enter Last Name
      </ion-item>
    </div>
    <div class="form-group">
      <ion-item>
        <ion-label color="black" stacked>Email</ion-label>
        <ion-input type="email" value="" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="userForm.controls.email.invalid  && (userForm.controls.email.dirty || userForm.controls.email.touched)">
        Please enter valid mobile number
      </ion-item>
    </div>

    <div class="form-group">
      <ion-item>
        <ion-label color="black" stacked>Country</ion-label>
        <ion-input type="text" formControlName="country"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="userForm.controls.country.invalid && (userForm.controls.country.dirty || userForm.controls.country.touched)">
        Please enter a Country
      </ion-item>
    </div>

    <div class="form-group">
      <ion-item>
        <ion-label color="black" stacked>State</ion-label>
        <ion-input type="text" formControlName="state"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="userForm.controls.state.invalid && (userForm.controls.state.dirty || userForm.controls.country.touched)">
        Please enter a State
      </ion-item>
    </div>

    <div class="form-group">
        <ion-item>
          <ion-label color="black" stacked>District</ion-label>
          <ion-input type="text" formControlName="district"></ion-input>
        </ion-item>
        <ion-item class="error" *ngIf="userForm.controls.district.invalid && (userForm.controls.district.dirty || userForm.controls.district.touched)">
          Please enter a District
        </ion-item>
      </div>

      <div class="form-group">
          <ion-item>
            <ion-label color="black" stacked>Institution Name</ion-label>
            <ion-input type="text" formControlName="institution"></ion-input>
          </ion-item>
          <ion-item class="error" *ngIf="userForm.controls.institution.invalid && (userForm.controls.institution.dirty || userForm.controls.institution.touched)">
            Please enter a Institution name
          </ion-item>
        </div>
  </form>

  <div class="submit-button" text-center>
    <button ion-button block (click)="submit()">Submit</button>
  </div>

</ion-content>
