<!--
  Generated template for the SinglePatientSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Single Patient Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
      <p>babyId : {{babyId}}</p>
      <p>Gestational Age : {{gestationalAge}}</p>
      <p>Delivery Method : {{deliveryMethod}}</p>
      <p>InputOutputPatient : {{inputOutputPatient}}</p>

      <p>Parent informed decision : {{parentsKnowledgeOnHmAndLactation}}</p>
      <p>Time till first expression : {{tillTillFirstExpression}}</p>
      <p>Time till first enteral feed : {{tillTillFirstEnteralFeed}}</p>
      <p>Admission Date : {{admissionDate}}</p>

      <p>Prenatal intent to privide milk : {{mothersPrenatalIntent}}</p>

      <p>Patient first admitted to : {{babyAdmittedTo}}</p>
      <p>Reason for admission : {{nicuAdmissionReason}}</p>
      <ion-list>
        <ion-item *ngFor="let motherRelatedItem  of motherRelatedDataList; let i = index">{{i+1}} , {{motherRelatedItem.date}},{{motherRelatedItem.expAndBfEpisodPerday}} ,
          {{motherRelatedItem.ofWhichBf}} , {{motherRelatedItem.totalDailyVolumn}} , {{motherRelatedItem.nightExp}}
        </ion-item>
      </ion-list>
      <ion-list>
          <ion-item *ngFor="let togetherItem  of togetherDataList; let i = index">{{i+1}} , {{togetherItem.date}} ,
            {{togetherItem.dailyTotalTimeInKMC}}({{togetherItem.dailyTotalQuantityInKMC}})
            {{togetherItem.noOfOralCare}} , {{togetherItem.noOfNNS}}
          </ion-item>
        </ion-list>


  </div>
</ion-content>
