<!--
  This page will have entries of feed expression by date
  @author Ratikanta
  @author Naseem - modified header color
  @since 0.0.1
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Log feed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding scrollbar-y-auto>
  <h3 class="form-page-header">Baby ID - {{babyCode}}</h3>
  <ion-card *ngFor="let date of feedDateListData | orderByDate; let i = index">
    <ion-card-content (click)='dateSelected(date)'>
      <ion-row >
        <ion-col>
          <div>Sl No: {{i + 1}}</div>
        </ion-col>

        <ion-col text-right>
          <div>{{date}}</div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <h4 class="noRecords" *ngIf="feedDateListData.length === 0">No record found</h4>

</ion-content>
<ion-footer>
    <button ion-button block (click)="newExpression()">New Entry</button>
</ion-footer>
