page-expressoin-form {
     .form-group{
        margin-bottom: 0px;
    }
    .card-outside{
        margin-top: 20px;
        background: rgb(241, 241, 241);
    }
    .card-inside{
        padding: 7px;
        font-size: 16px;
    }
    .fab-padding{
        padding: 0px 16px 16px 0px;
    }
    .icon{
        float:right
    }
}
