<!--
  @author - Naseem Akhtar
  @since - 0.0.1
-->

<ion-header>
  <ion-navbar color="primary">
    <ion-title>Log breastfeeding supportive practice</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding scrollbar-y-auto>
  <h3 class="form-page-header" id="scrollHere">{{dataForBfspPage.selectedDate}}</h3>
  <ion-list>
    <div>
      <ion-item class="item-stable timeList" *ngFor="let bfsp of bfspList | orderByTimeBfsp; let i=index" text-wrap>
        <div>
          <div class="acordion-title" (click)="toggleGroup(bfsp)" [ngClass]="{active: isGroupShown(bfsp)}">
            <div>
              {{bfsp.timeOfBFSP}}
              <ion-icon color="success" style="float:right" [name]="isGroupShown(bfsp) ? 'md-remove' : 'md-add'"></ion-icon>
            </div>
          </div>

          <div style="margin-top:15px" *ngIf="isGroupShown(bfsp)">

            <ion-item>
              <ion-label color="black" stacked>Date of BFSP
                <span class="text-color"> *</span>
              </ion-label>
              <ion-input [readonly]="true" [(ngModel)]="bfsp.dateOfBFSP" (ionFocus)="datePickerDialog(bfsp)" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon padding-top name="calendar" item-right></ion-icon>
            </ion-item>

            <ion-item>
              <ion-label color="black" stacked>Time at which BFSP occured
                <span class="text-color"> *</span>
              </ion-label>
              <ion-input [readonly]="true" [(ngModel)]="bfsp.timeOfBFSP" (ionFocus)="timePickerDialog(bfsp)" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon padding-top name="time" item-right></ion-icon>
            </ion-item>
            <p class="error" *ngIf="">
              Please enter the time at which the BFSP occurred.
            </p>
            <ion-item>
              <ion-label color="black" stacked>Breastfeeding supportive practice performed</ion-label>
              <ion-select [(ngModel)]="bfsp.bfspPerformed" [ngModelOptions]="{standalone: true}" (ionChange)="setPersonWhoPerformed(bfsp)">
                <ion-option *ngFor="let item of bfSupportivePracticePerformedList" [value]="item.id">{{item.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="black" stacked>Person who performed the BFSP</ion-label>
              <ion-select id="person+i" [(ngModel)]="bfsp.personWhoPerformedBFSP" [ngModelOptions]="{standalone: true}" [disabled]="bfsp.bfspPerformed === 54 ? true : false">
                <ion-option *ngFor="let item of personWhoPerformedBSFPList" [value]="item.id">{{item.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="black" stacked>Duration of BFSP performed in minutes</ion-label>
              <ion-input type="number" [(ngModel)]="bfsp.bfspDuration" [pattern]="onlyNumberRegex" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>

            <ion-row padding>
              <ion-col>
                <button class="login-button" [disabled]="bfsp.id === null" ion-button block (click)="delete(bfsp)">Delete</button>
              </ion-col>
              <ion-col>
                <button class="login-button" ion-button block (click)="save(bfsp, i)">{{bfsp.id === null ? 'Save' : 'Update'}}</button>
              </ion-col>
            </ion-row>

          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button block (click)="newBFSPForm()">New Entry</button>
</ion-footer>
