<!--
  This is the feed page view
  @author Ratikanta
  @since 0.0.1
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{dataForFeedEntryPage.selectedDate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>




  <ion-list>
    
    <ion-item class="item-stable timeList" *ngFor="let feedExpression of feedExpressions | orderByTime; let i=index" text-wrap>
        <div>
          <div class="acordion-title" (click)="toggleGroup(feedExpression)" [ngClass]="{active: isGroupShown(feedExpression)}">
            <div>
              {{feedExpression.timeOfFeed}}
              <ion-icon color="success" style="float:right" [name]="isGroupShown(feedExpression) ? 'md-remove' : 'md-add'"></ion-icon>
            </div>
          </div>
  
          <div style="margin-top:15px" *ngIf="isGroupShown(feedExpression)">


            <!-- Date of feed -->
            <ion-item>
                <ion-label color="black" stacked >Date of feed</ion-label>
                <ion-input [readonly]="true" [(ngModel)]="feedExpression.dateOfFeed" (ionFocus)="datePickerDialog(feedExpression)" 
                  [ngModelOptions]="{standalone: true}"></ion-input>
                <ion-icon padding-top name="calendar" item-right></ion-icon>
            </ion-item>


            <!-- Time of feed -->
            <ion-item>
                <ion-label color="black" stacked >Time of feed</ion-label>
                <ion-input [readonly]="true" [(ngModel)] = "feedExpression.timeOfFeed" (ionFocus)="timePickerDialog(feedExpression)" 
                  [ngModelOptions]="{standalone: true}"></ion-input>
                <ion-icon padding-top name="time" item-right></ion-icon>
            </ion-item>


            <!-- Method of feed -->
            <ion-item>
              <ion-label stacked>Method of feed</ion-label>
              <ion-select [(ngModel)]="feedExpression.methodOfFeed" [ngModelOptions]="{standalone: true}">
                <ion-option text-wrap *ngFor="let feedingMethod of feedingMethods" [value]="feedingMethod.id" text-wrap>{{feedingMethod.name}}</ion-option>               
              </ion-select>
            </ion-item>


            <!-- Volume OMM -->
            <ion-item>
              <ion-label stacked >Volume OMM</ion-label>
              <ion-input  type="number" [(ngModel)]="feedExpression.ommVolume" [ngModelOptions]="{standalone: true}" 
                [pattern]="onlyNumberRegex"></ion-input>
            </ion-item>

            <!-- Volume DHM -->
            <ion-item >
              <ion-label stacked>Volume DHM</ion-label>
              <ion-input type="number" [(ngModel)]="feedExpression.dhmVolume" [ngModelOptions]="{standalone: true}" 
                [pattern]="onlyNumberRegex"></ion-input>
            </ion-item>

            <!-- Volume Formula -->
            <ion-item >
              <ion-label stacked>Volume Formula</ion-label>
              <ion-input type="number" [(ngModel)]="feedExpression.formulaVolume" [ngModelOptions]="{standalone: true}" 
                [pattern]="onlyNumberRegex"></ion-input>
            </ion-item>

            <!-- Volume Animal Milk -->
            <ion-item>
              <ion-label stacked>Volume Animal Milk</ion-label>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
              <ion-input type="number" [(ngModel)]="feedExpression.animalMilkVolume" [ngModelOptions]="{standalone: true}" 
                [pattern]="onlyNumberRegex"></ion-input>
            </ion-item>

            <!-- Volume Other -->
            <ion-item>
              <ion-label stacked>Volume Other</ion-label>
              <ion-input type="number" [(ngModel)]="feedExpression.otherVolume" [ngModelOptions]="{standalone: true}"
                [pattern]="onlyNumberRegex"></ion-input>
            </ion-item>

            <!-- Location of feeding -->
            <ion-item>
              <ion-label stacked>Location of feeding</ion-label>
              <ion-select [(ngModel)]="feedExpression.locationOfFeeding" [ngModelOptions]="{standalone: true}">
                <ion-option text-wrap *ngFor="let locationOfFeeding of locationOfFeedings" [value]="locationOfFeeding.id" text-wrap>{{locationOfFeeding.name}}</ion-option>               
              </ion-select>
            </ion-item>
              
            <!-- Weight of baby in grams -->
            <ion-item>
              <ion-label stacked>Weight of baby in grams</ion-label>
              <ion-input type="number" [(ngModel)]="feedExpression.babyWeight" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>  
            <ion-row padding>
                <ion-col>
                  <button class="login-button" ion-button block (click)="delete(feedExpression)">Delete</button>                  
                </ion-col>
                <ion-col>
                    <button class="login-button" ion-button block (click)="saveExpression(feedExpression)">Save</button>
                </ion-col>
            </ion-row>                              
          </div>
        </div>
      </ion-item>

</ion-list>


</ion-content>
<ion-footer>
    <button ion-button block (click)="newExpression()">New Expression</button>
</ion-footer>
