<!--
  This is the Breastfeed supportive practice page.
  @author - Naseem Akhtar (naseem@sdrc.co.in)
  @since - 0.0.1
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Log breastfeeding supportive practice</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding scrollbar-y-auto>
  <h3 class="form-page-header">Baby ID - {{babyCode}}</h3>
  <ion-card *ngFor="let date of bfspDateListData | orderByDate; let i = index">
    <ion-card-content (click)='dateSelected(date)'>
      <ion-row>
        <ion-col>
          <div>Sl No: {{i + 1}}</div>
        </ion-col>

        <ion-col text-right>
          <div>{{date}}</div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <h4 class="noRecords" *ngIf="bfspDateListData.length === 0">No record found</h4>
</ion-content>

<ion-footer>
    <button ion-button block (click)="newBFSP()">New Entry</button>
</ion-footer>

