page-expression-time-form {
    .form-group{
        margin-bottom: 0px;
    }
    .card-outside{
        margin-top: 20px;
        background: rgb(241, 241, 241);
    }
    .card-inside{
        padding: 7px;
        font-size: 16px;
    }
    .fab-padding{
        padding: 0px 16px 16px 0px;
    }
    .lable-border{
        border: 2px solid gray;
        margin: 5px;    
        padding: 15px;
        text-align: center;
    }
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
   
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
    .item_lable {
        opacity: 1 !important;
        font-size: 17px !important;
        color: map-get($colors, black) !important;
    }
}
